
{% extends "layout.html" %}

{% block pageTitle %}
  Champions
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">Champions</li>
  </ol>
</div>

<div class="govuk-grid-row hero">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Digital, Data and Technology champions</h1>
    <p>The DDaT Champions are:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Bristi Gogoi – Gender</li>
      <li>Rachelle Hembury – Generational Diversity</li>
      <li>Zuz Kopecka – Sexual Orientation and Gender Identity</li>
      <li>Sam Layne – Disability</li>
      <li>Jessica Loudon – Diversity and Social Mobility</li>
      <li>Jugjit Matharu – Faith</li>
      <li>Vacant - Race</li>
    </ul>
    <p>The Champions are keen to hear from anyone who would be interested in getting involved in National Inclusion Week (24-30 September). Please <a href="mailto:rachelle.hembury@homeoffice.gsi.gov.uk">contact us</a> for more information.</p>
    <p>Data Analytics and Services are trialling new DDaT Inclusion and Fair Treatment workshops. Please contact <a href="mailto:rachelle.hembury@homeoffice.gsi.gov.uk">Rachelle Hembury</a> for more information.</p>
  </div>
</div>



{% endblock %}
