
{% extends "layout.html" %}

{% block pageTitle %}
  Digital, Data and Technology events
{% endblock %}

{% block main %}

<!-- <div class="homepage-title">
  <div class="govuk-width-container">
    <h1 class="govuk-heading-m">Digital, Data and Technology events</h1>
  </div>
</div> -->

<div class="main-event">
  <div class="govuk-width-container">
    <h1 class="govuk-heading-l">DDaT Together events</h1>
  </div>
</div>
{{ super()}}
{% endblock %}

{% block content %}

<ul class="card-list">
  <li class="card-list-item">
    <div class="card-list-content">
      <h3 class="govuk-heading-m">All-staff dial-in</h3>
      <p>The next DDaT all-staff dial-in will be held on Tuesday 11 December and will be hosted by Joanna Davinson (Chief Digital, Data and Technology Officer), Emma Dickson (Deputy Director, IT Operations, Enterprise Services) and Rob Thompson (Chief Technology Officer). </p>
      <p>You will have the opportunity to ask questions during the dial-in. You can submit questions in advance if you prefer or if you are unable to attend.</p>
      <a href="https://www.homeofficesurveys.homeoffice.gov.uk/s/DDaTquestions/">Anonymous form</a>
    </div>
  </li>
  <li class="card-list-item">
    <div class="card-list-content">
      <h3 class="govuk-heading-m">DDaT Together event</h3>
      <p>Coming soon - date of next DDaT Together staff engagement event. Outputs from the DDaT Together event held on 24 October were sent to staff on 20 November and shared in the <a href="https://collaboration.homeoffice.gov.uk/display/HOME/DDaT+Insider+Update+-+issue+33">DDaT Insider Issue 33</a> on Confluence.</p>
      <a href="https://collaboration.homeoffice.gov.uk/display/HOME/DDaT+Insider+Update+-+issue+33">DDaT Insider Issue 33</a>
    </div>
  </li>
</ul>


{% endblock %}
