
{% extends "layout.html" %}

{% block pageTitle %}
  Digital, Data and Technology events
{% endblock %}

{% block main %}

<!-- <div class="homepage-title">
  <div class="govuk-width-container">
    <h1 class="govuk-heading-m">Digital, Data and Technology events</h1>
  </div>
</div> -->

<div class="main-event">
  <div class="govuk-width-container">
    <h1 class="govuk-heading-l">DDaT Together events</h1>
  </div>
</div>
{{ super()}}
{% endblock %}

{% block content %}

<ul class="card-list">
  <li class="card-list-item">
    <div class="card-list-content">
      <h3 class="govuk-heading-m">DDaT all staff dial-in - Date TBC</h3>
      <p>The next all staff will be held after our DDaT Together events on 13 February and 4 March.</p>
    </div>
  </li>
  <li class="card-list-item">
    <div class="card-list-content">
      <h3 class="govuk-heading-m">DDaT Local</h3>
  <p>The DDaT events schedule for the year ahead is being finalised further details to follow later this month.</p>
    </div>
  </li>
  
   <li class="card-list-item">
    <div class="card-list-content">
      <h3 class="govuk-heading-m">DDaT Together</h3>
      <p>In response to feedback, we are trialling two DDaT Together events:</p> 
      <p>Croydon -  13 Feb (Fairfield Halls) – SOLD OUT <br>or<br> Manchester (King’s House Conference Centre) – Tickets can be booked via the following link: <a href="https://ourddat.eventbrite.co.uk/">https://ourddat.eventbrite.co.uk/</a>.</p>
    </div>
  </li>
  
     <li class="card-list-item">
    <div class="card-list-content">
      <h3 class="govuk-heading-m">DDaT Community</h3>
      <p>Click on the links below to find out more about the venues we are using our forthcoming DDaT Together events:</p>
<p>Fairfield Halls is managed as a social enterprise that designs and builds engaging experiences to inspire people and enrich lives: <a href="https://www.fairfield.co.uk/about-us/">https://www.fairfield.co.uk/about-us/</a>. </p> 
<p>King’s House Conference Centre is set up as a charity to support the work of King's Church, including three 'Homes of Hope' which provide a safe haven for men struggling with homelessness: <a href="https://kingshouse.co.uk/our-story/">https://kingshouse.co.uk/our-story/</a>.
       </div>
  </li>
  

</ul>


{% endblock %}
