
{% extends "layout.html" %}

{% block pageTitle %}
  Digital, Data and Technology events
{% endblock %}

{% block main %}

<!-- <div class="homepage-title">
  <div class="govuk-width-container">
    <h1 class="govuk-heading-m">Digital, Data and Technology events</h1>
  </div>
</div> -->

<div class="main-event">
  <div class="govuk-width-container">
    <h1 class="govuk-heading-l">DDaT Together events</h1>
  </div>
</div>
{{ super()}}
{% endblock %}

{% block content %}

<ul class="card-list">
  <li class="card-list-item">
    <div class="card-list-content">
      <h3 class="govuk-heading-m">DDaT all staff dial-in</h3>
      <h4 class="govuk-heading-s">Monday 17 May</h4>
      <p>Our next DDaT all staff dial-in is on Friday 17 May at 12:30 - 13:30.</p>
      <p>The dial-in will be hosted by Joanna Davinson, Chief Digital, Data and Technology Officer.</p>
      <p>More details to follow.</p>
    </div>
  </li>
  <li class="card-list-item">
    <div class="card-list-content">
      <h3 class="govuk-heading-m">DDaT Local</h3>
      <p>Anthony Croxford, DDaT Chief Operating Officer, will be visiting Southport on 7 May and Sheffield on 8 May for show and tells, informal discussions and Q&A sessions. Colleagues from other locations are welcome to attend. For further information contact <a href="mailto:Funke.Oham@homeoffice.gov.uk">Funke.Oham@homeoffice.gov.uk</a>.</p>
    </div>
  </li>
  <li class="card-list-item">
    <div class="card-list-content">
      <h3 class="govuk-heading-m">Our Home Office</h3>
      <p>Our Home Office events will take place in 35 locations around the country in May and June. These sessions are for HEOs and above who are key to engaging colleagues and helping drive real innovation.</p>
      <p>More details to follow.</p>
    </div>
  </li>
</ul>


{% endblock %}
