
{% extends "layout.html" %}

{% block pageTitle %}
  Roundtables
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">Roundtables</li>
  </ol>
</div>

<div class="govuk-grid-row hero">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Digital, Data and Technology roundtables</h1>
    <span class="govuk-caption-l" style="margin-bottom:20px;">Thursday 27 September 2018 at 1.30pm</span>
    <p>18th floor<br>Lunar House<br>Croydon</p>
    <p>The Digital, Data and Technology roundtables are opportunities for senior leaders to meet with colleagues in DDaT for informal two-way discussions. These events take place across our main locations on a quarterly basis.</p>
    <p>The roundtable is being held on the 18th floor (short corridor) of Lunar House to support today’s charity cake sale running from 10am. Come along for some informal networking and to chat with Andy Gregory, our new DDaT Deputy Director of Data Services and Analytics, at 1.30pm to talk about cakes, DDaT, National Inclusion Week, and any other hot topics.</p>
  </div>
</div>



{% endblock %}
