
{% extends "layout.html" %}

{% block pageTitle %}
  DDaT Together event
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">DDaT Together</li>
  </ol>
</div>

<div class="govuk-grid-row hero">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl" style="margin-bottom:10px;">DDaT Together</h1>
    <span class="govuk-caption-l" style="margin-bottom:20px;">Wednesday 24 October 2018</span>
    <p>The Kia Oval<br>Kennington,<br>London,<br>SE11 5SS</p>
    <p style="margin-bottom: 0;"><a class="govuk-button" href="https://www.eventbrite.co.uk/e/ddat-together-shaping-our-future-registration-from-0830-hours-tickets-49905598990">Attend the live event</a></p>
    <p><a class="govuk-button--secondary" href="https://www.eventbrite.co.uk/e/webstreaming-only-ddat-together-shaping-our-future-tickets-50573854761">Watch the live stream</a></p>
  </div>
</div>

<div class="govuk-grid-row hero">
  <div class="govuk-grid-column-two-thirds">
    <div class="accordion">

      <div class="accordion-section">
        <div class="accordion-section-header">
          <h2 class="govuk-heading-m">About the event</h2>
        </div>
        <div class="accordion-section-body">
          <p>Our next DDaT Together event will be held at the Kia Oval on Wednesday 24 October.</p>
          <p>Chief Digital, Data and Technology Officer Joanna Davinson and her leadership team will provide more information about DDaT’s structure and priorities and will be seeking your input on progress to date.</p>
          <p>We are fortunate to have two keynote speakers on the day: Glyn Williams, Director General, Borders, Immigration and Citizenship Systems Policy and Strategy Group, in the morning and Sir Philip Rutnam, Home Office Permanent Secretary, in the afternoon.</p>
          <p>This event is open to everyone in DDaT but space is limited so places will be allocated on a first-come-first-served basis.</p>
          <!-- You must [register via Eventbrite to attend the event]. -->
          <p>For those who cannot join in person, DDaT Infrastructure & Platforms will be running another live streaming on the day which will be bookable in advance.</p>
          <!-- Please [register to watch the live stream]. -->
          <p>Don’t forget to bring your Home Office pass. We don’t want you to wear it but you must show it when you arrive at The Kia Oval. If you don’t bring it, you may not be able to take part for security reasons.</p>
          <p>Any questions? Please contact the <a href="mailto:hoddatcommunications@homeoffice.gsi.gov.uk">DDaT communications team</a>.</p>
        </div>
      </div>

      <div class="accordion-section">
        <div class="accordion-section-header">
          <h2 class="govuk-heading-m">Agenda</h2>
        </div>
        <div class="accordion-section-body">
          <p class="govuk-body govuk-!-font-weight-bold">Keynote speakers</p>
          <p>Joanna Davinson - Home Office Chief Digital, Data and Technology Officer and Social Mobility Champion</p>
          <p>Glyn Williams - Borders, Immigration and Citizenship Systems Policy and Strategy Group</p>
          <p>Philip Rutnam - Home Office Permanent Secretary and Civil Service Disability Champion</p>
          <p><span class="govuk-body govuk-!-font-weight-bold">Plenary sessions</span> including understanding our business portfolios:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Enterprise Services</li>
            <li>Law Enforcement</li>
            <li>Borders, Immigration and Citizenship</li>
          </ul>
          <p><span class="govuk-body govuk-!-font-weight-bold">Breakout sessions</span> focused on our DDaT Profession community groups and the business priorities of:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Our framework</li>
            <li>Our operating model</li>
            <li>Our systems integration capability and approach</li>
            <li>Our capabilities including Pluralsight</li>
          </ul>
          <p>Plus our ever-popular lightning talks and opportunities for Q&A throughout the day</p>
        </div>
      </div>

      <!-- <div class="accordion-section">
        <div class="accordion-section-header">
          <h2 class="govuk-heading-m">Agenda</h2>
        </div>
        <div class="accordion-section-body">
          <ul class="agenda">
            <li><span class="event-time">08.30 – 9.30</span>
              <p>Registration</p>
            </li>
            <li><span class="event-time">09.30 – 09.40</span>
              <p>Open and welcome - Joanna Davinson, Chief Digital, Data and Technology Officer</p>
            </li>
            <li><span class="event-time">09.40-10.10</span>
              <p>Keynote speaker - Glyn Williams, Borders, Immigration and Citzenship PSG and Q&A with Joanna Davinson</p>
            </li>
            <li><span class="event-time">10.10 – 11.00</span>
              <p>Morning breakout sessions - Shaping our professions</p>
            </li>
            <li><span class="event-time">11.00 – 12.15</span>
              <p>DDaT focus - Understanding our business: Portfolios</p>
               <div class="agenda-details">
                <p>Enterprise Services - Pete Rose</p>
                <p>Law Enforcement - Dave France</p>
                <p>Borders, Immigration and Citzenship - John Holben/Rhona Hawes</p>
                 </div>
              <p>Followed by Q&A</p>
            </li>
            <li><span class="event-time">12.15 – 13.05</span>
              <p>Lunch, networking and SCS spot mentoring sessions</p>
            </li>
            <li><span class="event-time">13.10 – 13.30</span>
              <p>Introduction by Joanna Davinson - Shaping our priorities</p>
            </li>
            <li><span class="event-time">13.30 - 14.40</span><p>Afternoon breakout sessions - DDaT priority topics</p>
            </li>
            <li><span class="event-time">14.40 – 14.55</span>
              <p>Tea and coffee break</p>
            </li>
            <li><span class="event-time">15.00 – 15.45</span>
              <p>Keynote speaker including Q&A - Philip Rutnam, Home Office Permanent Secretary</p>
            </li>
            <li><span class="event-time">15.45 – 16.15</span>
              <p>DDaT focus - Five lightning talks:</p>
              <div class="agenda-details">
                <p> Reimagine Challenge follow up - Abullah Shakoor, Paul Kinsella and Vince Voon</p>
                <p> New Zealand and UK Exchange - Isabel Conway, Rachelle Hembury, Richard Izzard, Daxa Odedra and Clare Ridd</p>
                <p> Pronto, digital notebook for frontline officers in Immigration Enforcment - Leo Tagg</p>
                <p> PNC-related session - Shab Mowla</p>
                <p> Revised digital service standard - Rosanna Fairthorne</p>
              </div>
            </li>
            <li><span class="event-time">16.15 – 16.30</span>
              <p>Q&A wih Joanna Davinson and SCS</p>
            </li>
            <li><span class="event-time">16.30</span>
              <p>Close</p>
            </li>
          </ul>
        </div>
      </div> -->

      <!-- <div class="accordion-section">
        <div class="accordion-section-header">
          <h2 class="govuk-heading-m">Breakout sessions</h2>
        </div>
        <div class="accordion-section-body">
          <p>Attendees to select 2 out of 4 sessions (approx. 30 mins each) Sessions provide an opportunity to share progress and involve/seek views from attendees.</P>
          <h3 class="govuk-heading-m">Morning</h3>
          <h4 class="govuk-heading-s">Shaping our professions</h4>
          <p>Coordinated by Ann Coad/ SCS sponsors/ community leads:</P>
            <ol class="govuk-list govuk-list--number">
             <li>Business Planning and Management - Grace Oduja (SCS sponsor, Anthony Croxford)</li>
             <li>Data - Jim Otieno (SCS sponsor, Andy Gregory)</li>
             <li>IT Operations - Nargis Mirza (SCS sponsor, Pete Rose)</li>
             <li>Product and Delivery - Paul Cooper (SCS sponsor, Rhona Hawes)</li>
             <li>Quality Assurance and Testing - Blaine Webb/Clive Procter (SCS sponsor, Steve Connell)</li>
             <li>Technical - Imran Mirza (SCS sponsor, Matt Philpott)</li>
             <li>User Centred Design - Katy Arnold/Lynne Roberts (SCS sponsor, Phil Ramdeen)</li>
            </ol>
          <h3 class="govuk-heading-m">Afternoon</h3>
          <h4 class="govuk-heading-s">Shaping our priorities - Introduction by Joanna Davinson</h4>
          <p>Breakouts focused on the DDaT priority topics:</p>
          <ol class="govuk-list govuk-list--number">
            <li>DDaT framework owned by: Pete Rose/David Howie/Steve Thomson/Rhona Hawes</li>
            <li>DDaT operating model owned by:Trevor Smith/Dave France/Richard Hewlett/Matt Dutton</li>
            <li>Systems integration, capability and approach owned by:Andy MacKinder/Jackie Keane/Matt Philpott/Natalie Jones</li>
            <li>DDaT capability plan owned by:Anthony Croxford/Matt Philpott/Steve Connell/Sarah Ormerod
            Focused on building skills/capability including input from Pluralsight</li>
          </ol>
        </div>
      </div> -->

      <div class="accordion-section">
        <div class="accordion-section-header">
          <h2 class="govuk-heading-m">Keynote speakers</h2>
        </div>
        <div class="accordion-section-body">
          <span class="govuk-caption-m">Morning</span>
          <h4 class="govuk-heading-l">Glyn Williams</h4>
          <p class="govuk-body govuk-!-font-weight-bold">Director General, Borders, Immigration and Citizenship Systems Policy and Strategy Group</p>
          <p>The Border, Immigration and Citizenship System (BICS) is made up of Border Force, Her Majesty’s Passport Office, Immigration Enforcement, UK Visas and Immigration and BICS Policy and Strategy Group (PSG), which provides the policy and strategic structure which underpins the rest of the system.</p>
          <p>BICS PSG supports the delivery of the 5 BICS priorities agreed with ministers:</p>
          <ul class="govuk-list govuk-list--bullet">
          <li>managing the implications of Brexit</li>
          <li>securing the border</li>
          <li>reducing the illegal migrant population</li>
          <li>providing world class services and creating prosperity</li>
          <li>protecting vulnerable people and communities</li>
          </ul>
          <span class="govuk-caption-m" style="margin-top:50px;">Afternoon</span>
          <h4 class="govuk-heading-l">Sir Philip Rutnam</h4>
          <p class="govuk-body govuk-!-font-weight-bold">Home Office Permanent Secretary</p>
          <p>Sir Philip Rutnam joined the Home Office as Permanent Secretary in April 2017.</p>
          <p>Prior to that Sir Philip was the Permanent Secretary at the Department for Transport for 5 years.</p>
          <p>In April 2015, Sir Philip became the Civil Service Disability Champion.</p>
          <p>Sir Philip had previously been Director General, Business and Skills, at the Department for Business, Innovation and Skills where he was responsible for policy towards and industry and enterprise, including economic development across the regions and support for small business, and for further education policy including apprenticeships and the Skills Funding Agency.</p>
          <p>Prior to BIS, Sir Philip was at Ofcom where he helped to establish the organisation and then to lead its work on competition, economic regulation and use of the radio spectrum. He was a partner at Ofcom from 2003 and a member of the Ofcom Board from 2007 to 2009.</p>
          <p>A former senior Treasury official, Sir Philip Rutnam’s career also includes working in corporate finance at Morgan Stanley in Hong Kong, a period as Private Secretary to the Financial Secretary and responsibility for the Treasury’s interest in business and enterprise. He also previously represented the UK at the European Investment Bank.</p>
          <p>He was educated at Cambridge and Harvard.</p>
        </div>
      </div>

      <!-- <div class="accordion-section">
        <div class="accordion-section-header">
          <h2 class="govuk-heading-m">Register to attend</h2>
        </div>
        <div class="accordion-section-body">
          <p></p>
        </div>
      </div> -->

      <div class="accordion-section">
        <div class="accordion-section-header">
          <h2 class="govuk-heading-m">Venue</h2>
        </div>
        <div class="accordion-section-body">
          <div class="venue-details">
            <div class="venue">
              <h4 class="govuk-heading-m">The Kia Oval</h4>
              <p>Kennington,<br>London,<br>
              SE11 5SS</p>
              <p>Entrance via the Alec Stewart Gate (bottom of Harleyford Road)</p>
            </div>
            <div class="map">
              <img src="{{ asset_path }}/images/kia_map.png" alt="A map of the area around KIA Oval">
            </div>
          </div>
          <h4 class="govuk-heading-s">Travelling by Tube</h4>
          <p>It is a 10 minute walk from Vauxhall station to the Oval (Kings Cross/St Pancras or Euston approx 10-12 minutes to Vauxhall station via the Victoria line). The Oval can also be reached via the Northern Line and the main entrance to the ground is 100 metres on your left on leaving the station.</p>
          <h4 class="govuk-heading-s">Travelling by Bus</h4>
          <p>Route numbers 36, 185 and 436 stop outside the ground and other local services stop around the corner. The following buses set down within a 5-minute walk of the ground: 3, 59, 109, 133, 159, 333.</p>
          <p>Registration will take place in the Ashes Suite on the first floor of the Oval. Don’t forget to bring your Home Office pass. We don’t want you to wear it but you must show it when you arrive on the day. If you don’t bring it you may not be able to take part.</p>
        </div>
      </div>

      <div class="accordion-section">
        <div class="accordion-section-header">
          <h2 class="govuk-heading-m">Join the conversation</h2>
        </div>
        <div class="accordion-section-body">
          <p>We want to hear your views. During the event, we are using Sli.do again.</p>
          <p>If you are unable to attend the event or wish to pose a question anonymously before the day you can raise it <a href="https://www.homeofficesurveys.homeoffice.gov.uk/s/DDaTquestions/">here</a>. Please ensure all questions are submitted by midday on Tuesday 23 October as responses will not be monitored on the day.</p>
          <p>Please contact the <a href="mailto:hoddatcommunications@homeoffice.gsi.gov.uk">DDaT communications team</a> if there is a topic or issue you would like to be explored at DDaT Together.</p>
        </div>
      </div>

      <div class="accordion-section">
        <div class="accordion-section-header">
          <h2 class="govuk-heading-m">Wifi details and other information</h2>
        </div>
        <div class="accordion-section-body">
          <h4 class="govuk-heading-s">Registration and refreshments</h4>
          <p>Registration will take place in the Ashes Suite which is situated on the first floor from 8.30am. If your travel arrangements mean you need to arrive a little early you will be able to work and/or network with other DDaT colleagues in the Pakistan Room on the first floor until registration commences at 8.30am. Our DDaT Together volunteers will be on hand to welcome you and to direct you to the Pakistan Room or the Ashes Suite (both rooms are accessed via the lifts or stairs on your right as you enter the Kia Oval reception).</p>
          <p>Please ensure you bring your Home Office pass with you. You will need to show this when you arrive/at registration for security reasons.</p>
          <p>Lunch is included in the conference package and will also be served in the Ashes Suite. The Oval will provide sandwiches and seasonal salads which will include vegetarian and vegan options.</p>
          <p>Please note: Any dishes known to contain nuts will be identified; however all their dishes may contain nut traces. If you have specific dietary requirements you are welcome to make your own arrangements for lunch on the day if you’d prefer.</p>
          <h4 class="govuk-heading-s">Wifi details</h4>
          <h4 class="govuk-heading-s">Prayer room</h4>
          <p>To be confirmed on the day.</p>
        </div>
      </div>

    </div>

  </div>
</div>



{% endblock %}
