
{% extends "layout.html" %}

{% block pageTitle %}
  Together event
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">Together event</li>
  </ol>
</div>

<div class="govuk-grid-row hero">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Together event</h1>
    <p>Our next DDaT Together event will be held at the Kia Oval on Wednesday 24 October at the Kia Oval.</p>
    <p> In response to feedback Joanna and the leadership team will provide more information about the DDaT structure and priorities and will be seeking your input on progress to date. We are fortunate to have two keynote speakers on the day: Glyn Williams (DG xxx) in the morning and Sir Philip Rutnam, Home Office Permanent Secretary, in the afternoon.</p>
    <p>This event is open to everyone in DDaT but space is limited so places will be allocated on a first-come-first-served basis. You must register via this app to secure your place to attend the event. For those who cannot join in person, DDaT Infrastructure & Platforms will be running another live streaming on the day which will be bookable in advance. Please go to the Register to attend section to book web-streaming.</p>
    <p>Don’t forget to bring your Home Office pass. We don’t want you to wear it but you must show it when you arrive at The Kia Oval. If you don’t bring it, you may not be able to take part for security reasons.</p>
    <p>Any questions? Please contact the DDaT Communications team and we will get back to you asap.</p>
    <p><a class="govuk-button" href="#0">Book your ticket</a></p>
  </div>
</div>

<div class="govuk-grid-row hero">
  <div class="govuk-grid-column-two-thirds">
    <div class="accordion">

      <div class="accordion-section">
        <div class="accordion-section-header">
          <h2 class="govuk-heading-m">Agenda</h2>
        </div>
        <div class="accordion-section-body">
          <ul class="agenda">
            <li><span class="event-time">08.30 – 9.30</span>
              <p>Registration</p>
            </li>
            <li><span class="event-time">09.30 – 09.40</span>
              <p>Open and welcome - Joanna Davinson, Chief Digital, Data and Technology Officer</p>
            </li>
            <li><span class="event-time">09.40-10.10</span>
              <p>Keynote speaker - Glyn Williams, Borders, Immigration and Citzenship PSG and Q&A with Joanna Davinson</p>
            </li>
            <li><span class="event-time">10.10 – 11.00</span>
              <p>Morning breakout sessions - Shaping our professions</p>
            </li>
            <li><span class="event-time">11.00 – 12.15</span>
              <p>DDaT focus - Understanding our business: Portfolios</p>
               <div class="agenda-details">
                <p>Enterprise Services - Pete Rose</p>
                <p>Law Enforcement - Dave France</p>
                <p>Borders, Immigration and Citzenship - John Holben/Rhona Hawes</p>
                 </div>
              <p>Followed by Q&A</p>
          </li>
            <li><span class="event-time">12.15 – 13.05</span>
              <p>Lunch, networking and SCS spot mentoring sessions</p>
            </li>
            <li><span class="event-time">13.10 – 13.30</span>
              <p>Introduction by Joanna Davinson - Shaping our priorities</p>
            </li>
            <li><span class="event-time">13.30 - 14.40</span><p>Afternoon breakout sessions - DDaT priority topics</p>
            </li>
            <li><span class="event-time">14.40 – 14.55</span>
              <p>Tea and coffee break</p>
            </li>
            <li><span class="event-time">15.00 – 15.45</span>
              <p>Keynote speaker including Q&A - Philip Rutnam, Home Office Permanent Secretary</p>
            </li>
            <li><span class="event-time">15.45 – 16.15</span>
              <p>DDaT focus - Five lightning talks:</p>
              <div class="agenda-details">
                <p> Reimagine Challenge follow up - Abullah Shakoor, Paul Kinsella and Vince Voon</p>
                <p> New Zealand and UK Exchange - Isabel Conway, Rachelle Hembury, Richard Izzard, Daxa Odedra and Clare Ridd</p>
                <p> Pronto, digital notebook for frontline officers in Immigration Enforcment - Leo Tagg</p>
                <p> PNC-related session - Shab Mowla</p>
                <p> Revised digital service standard - Rosanna Fairthorne</p>
              </div>
            </li>
            <li><span class="event-time">16.15 – 16.30</span>
              <p>Q&A wih Joanna Davinson and SCS</p>
            </li>
            <li><span class="event-time">16.30</span>
              <p>Close</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="accordion-section">
        <div class="accordion-section-header">
          <h2 class="govuk-heading-m">Morning breakout session</h2>
        </div>
        <div class="accordion-section-body">
          <h3 class="govuk-heading-m">Shaping our professions</h3>
          <p>Coordinated by Ann Coad/ SCS sponsors/ community leads:</P>
            <ol class="govuk-list govuk-list--number">
             <li>Business Planning and Management - Grace Oduja (SCS sponsor, Anthony Croxford)</li>
             <li>Data - Jim Otieno (SCS sponsor, Andy Gregory)</li>
             <li>IT Operations - Nargis Mirza (SCS sponsor, Pete Rose)</li>
             <li>Product and Delivery - Paul Cooper (SCS sponsor, Rhona Hawes)</li>
             <li>Quality Assurance and Testing - Blaine Webb/Clive Procter (SCS sponsor, Steve Connell)</li>
             <li>Technical - Imran Mirza (SCS sponsor, Matt Philpott)</li>
             <li>User Centred Design - Katy Arnold/Lynne Roberts (SCS sponsor, Phil Ramdeen)</li>
          </ol>
        </div>
      </div>

      <div class="accordion-section">
        <div class="accordion-section-header">
          <h2 class="govuk-heading-m">Afternoon breakout session</h2>
        </div>
        <div class="accordion-section-body">
            <h3 class="govuk-heading-m">Shaping our priorities - Introduction by Joanna Davinson</h3>
          <p>Breakouts focused on the DDaT priority topics:</p>
          <ol class="govuk-list govuk-list--number">
            <li>DDaT framework owned by: Pete Rose/David Howie/Steve Thomson/Rhona Hawes</li>
            <li>DDaT operating model owned by:Trevor Smith/Dave France/Richard Hewlett/Matt Dutton</li>
            <li>Systems integration, capability and approach owned by:Andy MacKinder/Jackie Keane/Matt Philpott/Natalie Jones</li>
            <li>DDaT capability plan owned by:Anthony Croxford/Matt Philpott/Steve Connell/Sarah Ormerod
            Focused on building skills/capability including input from Pluralsight</li>
          </ol>
          <p>Attendees to select 2 out of 4 sessions (approx. 30 mins each) Sessions provide an opportunity to share progress and involve/seek views from attendees</P>
        </div>
      </div>

      <div class="accordion-section">
        <div class="accordion-section-header">
          <h2 class="govuk-heading-m">Keynote speaker</h2>
        </div>
        <div class="accordion-section-body">

        </div>
      </div>

      <div class="accordion-section">
        <div class="accordion-section-header">
          <h2 class="govuk-heading-m">Register to attend</h2>
        </div>
        <div class="accordion-section-body">
          <p></p>
        </div>
      </div>

      <div class="accordion-section">
        <div class="accordion-section-header">
          <h2 class="govuk-heading-m">Venue</h2>
        </div>
        <div class="accordion-section-body">
          <h4 class="govuk-heading-s">The Kia Oval</h4>
          <p>Kennington, London<br>
          SE11 5SS<br>
          Entrance via the Alec Stewart Gate (bottom of Harleyford Road)</p>
          <img src="images/kia_map.png" alt="">
        </div>
      </div>

      <div class="accordion-section">
        <div class="accordion-section-header">
          <h2 class="govuk-heading-m">About the event</h2>
        </div>
        <div class="accordion-section-body">
          <p>Our next DDaT Together event will be held at the Kia Oval on Wednesday 24 October at the Kia Oval. In response to feedback Joanna and the leadership team will provide more information about the DDaT structure and priorities and will be seeking your input on progress to date. We are fortunate to have two keynote speakers on the day: Glyn Williams (DG xxx) in the morning and Sir Philip Rutnam, Home Office Permanent Secretary, in the afternoon.</p>
          <p>This event is open to everyone in DDaT but space is limited so places will be allocated on a first-come-first-served basis. You must register via Eventbrite to secure your place to attend the event. For those who cannot join in person, DDaT Infrastructure & Platforms will be running another live streaming on the day which will be bookable in advance. Please go to the Register to attend section to book web-streaming.</p>
          <p>Don’t forget to bring your Home Office pass. We don’t want you to wear it but you must show it when you arrive at The Kia Oval. If you don’t bring it, you may not be able to take part for security reasons.</p>
          <p>Any questions? Please contact the <a href="mailto:hoddatcommunications@homeoffice.gsi.gov.uk">DDaT communications team</a> and we will get back to you asap.</p>
        </div>
      </div>

      <div class="accordion-section">
        <div class="accordion-section-header">
          <h2 class="govuk-heading-m">Join the conversation</h2>
        </div>
        <div class="accordion-section-body">
          <p>We want to hear your views. During the event, we are using Sli.do again.</p>
          <p>If you are unable to attend the event or wish to pose a question anonymously before the day you can raise it <a href="https://www.homeofficesurveys.homeoffice.gov.uk/s/DDaTquestions/">here</a>. Please ensure all questions are submitted by 5pm on Tuesday 23 February as responses will not be monitored on the day.</p>
          <p>Please contact the <a href="mailto:hoddatcommunications@homeoffice.gsi.gov.uk">DDaT communications team</a> if there is a topic or issue you would like to be explored at DDAT Together.</p>
        </div>
      </div>

      <div class="accordion-section">
        <div class="accordion-section-header">
          <h2 class="govuk-heading-m">Wifi details and other information</h2>
        </div>
        <div class="accordion-section-body">
          <h4 class="govuk-heading-s">Registration and refreshments</h4>
          <p>Registration will take place in the Ashes Suite which is situated on the first floor from 8.30am. If your travel arrangements mean you need to arrive a little early you will be able to work and/or network with other DDaT colleagues in the Pakistan Room on the first floor until registration commences at 8.30am. Our DDaT Together volunteers will be on hand to welcome you and to direct you to the Pakistan Room or the Ashes Suite (both rooms are accessed via the lifts or stairs on your right as you enter the Kia Oval reception).</p>
          <p>Please ensure you bring your Home Office pass with you. You will need to show this when you arrive/at registration for security reasons.</p>
          <p>Lunch is included in the conference package and will also be served in the Ashes Suite. The Oval will provide sandwiches and seasonal salads which will include vegetarian and vegan options.</p>
          <p>Please note: Any dishes known to contain nuts will be identified; however all their dishes may contain nut traces. If you have specific dietary requirements you are welcome to make your own arrangements for lunch on the day if you’d prefer.</p>
          <h4 class="govuk-heading-s">Wifi details</h4>
          <h4 class="govuk-heading-s">Prayer room</h4>
          <p>To be confirmed on the day.</p>
        </div>
      </div>

    </div>

  </div>
</div>



{% endblock %}
