
{% extends "layout.html" %}

{% block pageTitle %}
  Together event
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">Together event</li>
  </ol>
</div>

<div class="govuk-grid-row hero">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Together event</h1>
    <p>This event is open to everyone in DDaT but space is limited so places will be allocated on a first-come-first-served basis. You must book a ticket to secure your place. For those who cannot join in person, DDaT Infrastructure & Platforms will be running another live streaming pilot on the day. Please email the DDaT Communications team for further information.</p>
    <p><a class="govuk-button" href="#0">Book your ticket</a></p>
  </div>
</div>

<div class="govuk-grid-row hero">
  <div class="govuk-grid-column-two-thirds">
    <div class="accordion">

      <div class="accordion-section">
        <div class="accordion-section-header">
          <h2 class="govuk-heading-m">Agenda</h2>
        </div>
        <div class="accordion-section-body">
          <ul class="agenda">
            <li><span class="event-time">09.30 – 10.30</span>
              <p>Registration/networking</p>
            </li>
            <li><span class="event-time">10.30 – 11.20</span>
              <p>Open and welcome - Joanna Davinson, Chief Digital, Data and Technology Officer</p>
            </li>
            <li><span class="event-time">11.20-11.50</span>
              <p>Keynote speaker - Matt Hancock, Secretary of State for Digital, Culture, Media and Sport</p>
            </li>
            <li><span class="event-time">11.50 – 12.20</span>
              <p>Lightning talks (DDaT staff - 5 x 3 minutes)</p>
            </li>
            <li><span class="event-time">12.20 – 13.10</span>
              <p>Lunch and networking</p>
            </li>
            <li><span class="event-time">13.10 – 13.40</span>
              <p>Afternoon sessionOpened by Philip Rutnam, HO Permanent Secretary13.40 – 14.30The DDaT Reimagine Challenge is offering DDaT civil servants (individually or in a team) the opportunity to bid for up to £10,000 or up to 10 working days (or a mix of the two) to take forward an idea to simplify and offer better vfm in how we deliver digital, data and technology services in the Home Office. It should enhance or simplify an existing process, offer great value for money or significant cost savings, or do a mix of all three!</p>
            </li>
            <li><span class="event-time">14.35 - 16.00</span><br>Afternoon breakouts (bookable on a first come, first served basis)</li>
          </ul>
        </div>
      </div>

      <div class="accordion-section">
        <div class="accordion-section-header">
          <h2 class="govuk-heading-m">Breakout sessions</h2>
        </div>
        <div class="accordion-section-body">
          <p>Breakout A: ‘Driving inclusion and innovation in the workplace’ panel discussion followed by Q&A session and networking</p>
          <p>Breakout B: DDaT developments and demos including Home Office Biometrics and Home Office Data Analytics Competency Centre (DACC)</p>
          <p>Breakout C: Spot mentoring session with a member of the DDaT SCS for work/career advice eg personal development, raising your profile (20 minute session and join Breakout A or B for the remaining time)</p>
          <p>Live Streaming: We will be live streaming the day for those who cannot attend in person. This will include Breakout Session A.</p>
        </div>
      </div>
    </div>
    
  </div>
</div>



{% endblock %}
